* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.footer_style {
  bottom: 0;
  margin: 0;
  width: 100%;
  text-align: center;
  position: fixed;
}

.background {
  background-color: #0069B6;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.footer_text_style {
  font-size: 4px;
  color: white;
  padding: 3px 0;
}

.icon_style {
  color: white;
  font-size: 8px;
  margin: 0 5px;
}

.icon_style:hover {
  color: gray;
}
