<title>
  Form</title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<div class="w3-sidebar w3-bar-block w3-black w3-card" style="width:160px">
  <h5 class="w3-bar-item">Sections</h5>
  <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Fade')">APROACH AND ENTRANCE</button>
  <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Left')">ENTRANCE</button>
  <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Right')">ACCESS TO SERVICES</button>
  <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Top')">TOILET ROOM</button>
  <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Bottom')">EMERGENCY, EVACUATION, ALARMS</button>
</div>

<div style="margin-left:160px">
  <div class="w3-padding">Use any of the w3-animate-classes to fade, zoom or slide in tab content.</div>

  <div id="Fade" class="w3-container city w3-animate-opacity" style="display:none">
    <h2>A.1  Is the entrance of the building located at less than 50mt from the street?</h2>
    <input type="radio" name="A1" value="yes"> Yes<br>
    <input type="radio" name="A1" value="no" id='A1'> No<br>
    <input type="radio" name="A1" value="dk"> Don't Know
    <h2>A.2 Is the entrance of the building located at less than 50mt from the parking lot?</h2>
    <input type="radio" name="A2" value="yes"> Yes<br>
    <input type="radio" name="A2" value="no" id='A2'> No<br>
    <input type="radio" name="A2" value="dk"> Don't Know
    <h1>A.3 Parking</h1>
    <h2>A.3.1 Are there enough parking bays reserved for people with disabilities? </h2>
    <input type="radio" name="A3.1" value="yes"> Yes<br>
    <input type="radio" name="A3.1" value="no" id='A3.1'> No<br>
    <input type="radio" name="A3.1" value="dk"> Don't Know
    <h2>A.3.2 Are the reserved parking bay located at less than 50mt to the building entrance?</h2>
    <input type="radio" name="A3.2" value="yes"> Yes<br>
    <input type="radio" name="A3.2" value="no" id="A3.2"> No<br>
    <input type="radio" name="A3.2" value="dk"> Don't Know
    <h2>A.3.3 Are the reserved parking bay min 3.9m x5.40m?</h2>
    <input type="radio" name="A3.3" value="yes"> Yes<br>
    <input type="radio" name="A3.3" value="no" id="A3.3"> No<br>
    <input type="radio" name="A3.3" value="dk"> Don't Know
    <h2>A.3.4 Is the surface of the parking stable, flat and negotiable (no gravel, no sand, no obstacles)? </h2>
    <input type="radio" name="A3.4" value="yes"> Yes<br>
    <input type="radio" name="A3.4" value="no" id="A3.4"> No<br>
    <input type="radio" name="A3.4" value="dk"> Don't Know
    <h2>A.3.5 Is there signage (international standards) marking the accessible parking lot so that it can be seen even when the car park is full? </h2>
    <input type="radio" name="A3.5" value="yes"> Yes<br>
    <input type="radio" name="A3.5" value="no" id="A3.5"> No<br>
    <input type="radio" name="A3.5" value="dk"> Don't Know
    <h2>A.3.6 Is there any vehicle drop off area (min 9.00mts x 3.60mts) near the main entrance of the building?</h2>
    <input type="radio" name="A3.6" value="yes"> Yes<br>
    <input type="radio" name="A3.6" value="no" id="A3.6"> No<br>
    <input type="radio" name="A3.6" value="dk"> Don't Know
    <h2>A.3.7 Are there curb ramps close to the accessible parking bay and/or drop off area to allow wheelchair users to go from the street level to the sidewalk level?</h2>
    <input type="radio" name="A3.7" value="yes"> Yes<br>
    <input type="radio" name="A3.7" value="no" id="A3.7"> No<br>
    <input type="radio" name="A3.7" value="dk"> Don't Know
    <h1>A.4 Route</h1>
    <h2>A.4.1 Is the surface of the route from the parking/drop off area to the building entrance stable, flat and negotiable (no gravel, no sand, no obstacles)?</h2>
    <input type="radio" name="A4.1" value="yes"> Yes<br>
    <input type="radio" name="A4.1" value="no" id="A4.1"> No<br>
    <input type="radio" name="A4.1" value="dk"> Don't Know
    <h2>A.4.2 Are there street lights close to the building entrance, on the sidewalk and on the parking lot?</h2>
    <input type="radio" name="A4.2" value="yes"> Yes<br>
    <input type="radio" name="A4.2" value="no" id="A4.2"> No<br>
    <input type="radio" name="A4.2" value="dk"> Don't Know
    <h2>A.4.3 Is there tactile pavement on the route from the street/parking to the building entrance?</h2>
    <input type="radio" name="A4.3" value="yes"> Yes<br>
    <input type="radio" name="A4.3" value="no" id="A4.3"> No<br>
    <input type="radio" name="A4.3" value="dk"> Don't Know
    <h2>A.4.4 Is there any obstacle in the route?
If so, are they clearly visible and detectable with a cane?</h2>
    <input type="radio" name="A4.4" value="yes"> Yes<br>
    <input type="radio" name="A4.4" value="no" id="A4.4"> No<br>
    <input type="radio" name="A4.4" value="dk"> Don't Know
    <h2>A.4.5 The headroom along the route is maintained at a height of not less than 2 100 mm above the surface of the path?</h2>
    <input type="radio" name="A4.5" value="yes"> Yes<br>
    <input type="radio" name="A4.5" value="no" id="A4.5"> No<br>
    <input type="radio" name="A4.5" value="dk"> Don't Know
    <h2>A.4.6 Where the route has differences in height, are the ramps and stairs in place?</h2>
    <input type="radio" name="A4.6" value="yes"> Yes<br>
    <input type="radio" name="A4.6" value="no" id="A4.6"> No<br>
    <input type="radio" name="A4.6" value="dk"> Don't Know
    <h1>A.4.6 External Ramps </h1>
    <h2>A.4.6.1 Is the surface width of the ramp/path minimum 120cm, ideally 150cm or 180cm? Is the unobstructed width of the ramp from handrail to handrail minimum 100cm? </h2>
    <input type="radio" name="A4.6.1" value="yes"> Yes<br>
    <input type="radio" name="A4.6.1" value="no" id="A4.6.1"> No<br>
    <input type="radio" name="A4.6.1" value="dk"> Don't Know
    <h2>A.4.6.2 Is the length of end and intermediate landing at least 150cm?</h2>
    <input type="radio" name="A4.6.2" value="yes"> Yes<br>
    <input type="radio" name="A4.6.2" value="no" id="A4.6.2"> No<br>
    <input type="radio" name="A4.6.2" value="dk"> Don't Know
    <h2>A.4.6.3 Does the ramp have an acceptable gradient?</h2>
    <input type="radio" name="A4.6.3" value="yes"> Yes<br>
    <input type="radio" name="A4.6.3" value="no" id="A4.6.3"> No<br>
    <input type="radio" name="A4.6.3" value="dk"> Don't Know
    <h2>A.4.6.4 Does the ramp have guarding kerbs?</h2>
    <input type="radio" name="A4.6.4" value="yes"> Yes<br>
    <input type="radio" name="A4.6.4" value="no" id="A4.6.4"> No<br>
    <input type="radio" name="A4.6.4" value="dk"> Don't Know
    <h2>A.4.6.5 Does the ramp have an anti-slip surface?</h2>
    <input type="radio" name="A4.6.5" value="yes"> Yes<br>
    <input type="radio" name="A4.6.5" value="no" id="A4.6.5"> No<br>
    <input type="radio" name="A4.6.5" value="dk"> Don't Know
    <h1>A.4.7  External Stairs</h1>
    <h2>A.4.7.1 The rise of the step is higher than 150 mm, and the going of the steps are not less than 300 mm? </h2>
    <input type="radio" name="A4.7.1" value="yes"> Yes<br>
    <input type="radio" name="A4.7.1" value="no" id="A4.7.1"> No<br>
    <input type="radio" name="A4.7.1" value="dk"> Don't Know
    <h2>A.4.7.2 Is the minimum width of the stairs 120cm?
    Is the minimum width between handrails 100cm?</h2>
    <input type="radio" name="A4.7.2" value="yes"> Yes<br>
    <input type="radio" name="A4.7.2" value="no" id="A4.7.2"> No<br>
    <input type="radio" name="A4.7.2" value="dk"> Don't Know
    <h2>A.4.7.3 Is the rise of the step closed?</h2>
    <input type="radio" name="A4.7.3" value="yes"> Yes<br>
    <input type="radio" name="A4.7.3" value="no" id="A4.7.3"> No<br>
    <input type="radio" name="A4.7.3" value="dk"> Don't Know
    <h2>A.4.7.4 The flight of steps contain maximum 16 risers? </h2>
    <input type="radio" name="A4.7.4" value="yes"> Yes<br>
    <input type="radio" name="A4.7.4" value="no" id="A4.7.4"> No<br>
    <input type="radio" name="A4.7.4" value="dk"> Don't Know
    <h2>A.4.7.5 Is the minimum width of the landing 150cm?</h2>
    <input type="radio" name="A4.7.5" value="yes"> Yes<br>
    <input type="radio" name="A4.7.5" value="no" id="A4.7.5"> No<br>
    <input type="radio" name="A4.7.5" value="dk"> Don't Know
    <h2>A.4.7.6 Is the clear height under stairs minimum 210cm? </h2>
    <input type="radio" name="A4.7.6" value="yes"> Yes<br>
    <input type="radio" name="A4.7.6" value="no" id="A4.7.6"> No<br>
    <input type="radio" name="A4.7.6" value="dk"> Don't Know
    <h1>A.4.8 Handrails</h1>
    <h2>A.4.8.1 Are handrails located on both sides of the ramp and stairs?</h2>
    <input type="radio" name="A4.8.1" value="yes"> Yes<br>
    <input type="radio" name="A4.8.1" value="no" id="A4.8.1"> No<br>
    <input type="radio" name="A4.8.1" value="dk"> Don't Know
    <h2>A.4.8.2 Is the handrails profile diameter max 4.5cm and minimum 3.5 cm?  </h2>
    <input type="radio" name="A4.8.2" value="yes"> Yes<br>
    <input type="radio" name="A4.8.2" value="no" id="A4.8.2"> No<br>
    <input type="radio" name="A4.8.2" value="dk"> Don't Know
    <h2>A.4.8.3 Are the handrails located at least 4cm from the adjacent wall or other obstructions?</h2>
    <input type="radio" name="A4.8.3" value="yes"> Yes<br>
    <input type="radio" name="A4.8.3" value="no" id="A4.8.3"> No<br>
    <input type="radio" name="A4.8.3" value="dk"> Don't Know
    <h2>A.4.8.4 Are the first set of handrails located between 85cm and 100cm? Are the second set of handrails located between 60 and 75cm?</h2>
    <input type="radio" name="A4.8.4" value="yes"> Yes<br>
    <input type="radio" name="A4.8.4" value="no" id="A4.8.4"> No<br>
    <input type="radio" name="A4.8.4" value="dk"> Don't Know
    <h2>A.4.8.5 Are handrails horizontally extended for at least 30cm at the begging and end of the ramp/stairs?</h2>
    <input type="radio" name="A4.8.5" value="yes"> Yes<br>
    <input type="radio" name="A4.8.5" value="no" id="A4.8.5"> No<br>
    <input type="radio" name="A4.8.5" value="dk"> Don't Know



  </div>





<!-- Second section -->
  <div id="Left" class="w3-container city w3-animate-left" style="display:none">
    <h2>SECTION B: ENTRANCE</h2>
    <h2>B1 Is the entrance to the building marked and visible?</h2>
    <input type="radio" value="Yes" name="B.1"> Yes<br>
    <input type="radio" id="B.1" value="No" name="B.1"> No<br>
    <input type="radio" value="DK" name="B.1"> N/A

  <h2>B2 A.5.2 Is the main entrance accessible?
If not, is there an alternative accessible entrance that can be used independently and in the same hours of the main entrance?</h2>
  <input type="radio" value="Yes" name="B.2"> Yes<br>
  <input type="radio" value="No" id="B.2" name="B.2"> No<br>
  <input type="radio" value="DK" name="B.2"> N/A


  <h2>B3 Is the main entrance leveled?
If any threshold is in place, the height doesn’t exceed 20mm?</h2>
  <input type="radio" value="Yes" name="B.3"> Yes<br>
  <input type="radio" value="No" id="B.3" name="B.3"> No<br>
  <input type="radio" value="DK" name="B.3"> N/A


  <h2>B4 Is the unobstructed width of the entrance doorway at least 90cm?
Is the unobstructed height of the entrance doorway at least 200cm?</h2>
  <input type="radio" value="Yes" name="B.4"> Yes<br>
  <input type="radio" value="No" id="B.4" name="B.4"> No<br>
  <input type="radio" value="DK" name="B.4"> N/A


  <h2>B5 Is the horizontal maneuvering space in front of the entrance door of minimum 150cm by 1 50cm?
Is there a clear space of 60cm (70cm recommended) at the latch side of the door to allow someone to operate the door handle while using a wheel chair?</h2>
  <input type="radio" value="Yes" name="B.5"> Yes<br>
  <input type="radio" value="No" id="B.5" name="B.5"> No<br>
  <input type="radio" value="DK" name="B.5"> N/A


  <h2>B6 Is the door equipped with a handle that is operable with one hand and does not required tight grasping, pinching, or twisting of the wrist?  </h2>
  <input type="radio" value="Yes" name="B.6"> Yes<br>
  <input type="radio" value="No" id="B.6" name="B.6"> No<br>
  <input type="radio" value="DK" name="B.6"> N/A


  <h2>B7 The carpets or mats at the entrance of the building are less than 12mm?
Are the edge of the carpets or mats securely attached? </h2>
  <input type="radio" value="Yes" name="B.7"> Yes<br>
  <input type="radio" value="No" id="B.7" name="B.7"> No<br>
  <input type="radio" value="DK" name="B.7"> N/A<br>


 Comments: <textarea  id="sectionBTextarea" rows="8" cols="80"></textarea><br>
 Add images: <input type="file" id="sectionBImages"  value="">
</div>



<!-- Third Section -->
    <div id="Top" class="w3-container city w3-animate-top" style="display:none">
      <h2>D.1 Is there at least one accessible toilet room?</h2>
      <input type="radio" name="D.1" value="yes"> Yes<br>
      <input type="radio" name="D.1" value="no" id="D.1"> No<br>
      <input type="radio" name="D.1" value="dk"> Don't Know

      <h2>D.2 Is there a sign that give directions to accessible toilet rooms?</h2>
      <input type="radio" name="D.2" value="yes"> Yes<br>
      <input type="radio" name="D.2" value="no" id="D.2"> No<br>
      <input type="radio" name="D.2" value="dk"> Don't Know

      <h2>D.3 Is there a sign at the entrance of the accessible toilet room with the International symbol of accessibility?</h2>
      <input type="radio" name="D.3" value="yes"> Yes<br>
      <input type="radio" name="D.3" value="no" id="D.3"> No<br>
      <input type="radio" name="D.3" value="dk"> Don't Know

      <h2>D.4 Is there an outward opening door with minimum width 90cm?
  Is there an horizontal pull handle at 70cm height?</h2>
      <input type="radio" name="D.4" value="yes"> Yes<br>
      <input type="radio" name="D.4" value="no" id="D.4"> No<br>
      <input type="radio" name="D.4" value="dk"> Don't Know

      <h2>D.5 Is there a clear maneuvering space of 150cm x 150cm inside the toilet?</h2>
      <input type="radio" name="D.5" value="yes"> Yes<br>
      <input type="radio" name="D.5" value="no" id="D.5"> No<br>
      <input type="radio" name="D.5" value="dk"> Don't Know

      <h2>D.6 Is there a clear space of min 90cm beside the toilet (120cm for later transfer and assistance)?</h2>
      <input type="radio" name="D.6" value="yes"> Yes<br>
      <input type="radio" name="D.6" value="no" id="D.6"> No<br>
      <input type="radio" name="D.6" value="dk"> Don't Know

      <h2>D.7 Is the toilet seat located between 40 and 48cm from the floor?</h2>
      <input type="radio" name="D.7" value="yes"> Yes<br>
      <input type="radio" name="D.7" value="no" id="D.7"> No<br>
      <input type="radio" name="D.7" value="dk"> Don't Know

      <h2>D.8 Is the distance from the edge of the toilet seat to the rear wall between 650 mm and 800 mm ?</h2>
      <input type="radio" name="D.8" value="yes"> Yes<br>
      <input type="radio" name="D.8" value="no" id="D.8"> No<br>
      <input type="radio" name="D.8" value="dk"> Don't Know

      <h2>D.9 Is a corner toilet is in place:
  Is the distance from the pan to the adjacent wall min. 25cm?
  Is the distance from the center line of toilet to the adjacent wall min. 45cm?</h2>
      <input type="radio" name="D.9" value="yes"> Yes<br>
      <input type="radio" name="D.9" value="no" id="D.9"> No<br>
      <input type="radio" name="D.9" value="dk"> Don't Know



      <h2>D.10 Are grab rails provided on both side of the toilet at a distance of 30-35cm from the center of the toilet and a minimum distance of 40cm from the wall?</h2>
      <input type="radio" name="D.10" value="yes"> Yes<br>
      <input type="radio" name="D.10" value="no" id="D.10"> No<br>
      <input type="radio" name="D.10" value="dk"> Don't Know


      <h2>D.11 Is there a foldable rail at a height of 20-30cm above the seat level on the side where a lateral transfer is possible?
  Is the length of the foldable rail overlapping the front edge of the toilet seat in between 10-25cm?</h2>
      <input type="radio" name="D.11" value="yes"> Yes<br>
      <input type="radio" name="D.11" value="no" id="D.11"> No<br>
      <input type="radio" name="D.11" value="dk"> Don't Know


      <h2>D12 Is the washbasin located between 75cm and 85cm from the floor? </h2>
      <input type="radio" name="D.12" value="yes"> Yes<br>
      <input type="radio" name="D.12" value="no" id="D.12"> No<br>
      <input type="radio" name="D.12" value="dk"> Don't Know



      <h2>D.13  Is there a clear space under the washbasin between 65cm and 70cm height and 20cm deep?</h2>
      <input type="radio" name="D.13" value="yes"> Yes<br>
      <input type="radio" name="D.13" value="no" id="D.13"> No<br>
      <input type="radio" name="D.13" value="dk"> Don't Know


      <h2>D.14 Is the edge of the washbasin located within a distance of 35 to 60cm from the wall?</h2>
      <input type="radio" name="D.14" value="yes"> Yes<br>
      <input type="radio" name="D.14" value="no" id="D.14"> No<br>
      <input type="radio" name="D.14" value="dk"> Don't Know


      <h2>D.15 Is the tap type mixer, lever or sensor?
  Is the tap located at maximum 30cm from the edge of the washbasin?</h2>
      <input type="radio" name="D.15" value="yes"> Yes<br>
      <input type="radio" name="D.15" value="no" id="D.15"> No<br>
      <input type="radio" name="D.15" value="dk"> Don't Know
    </div>



<!-- Fourth section -->
<div id="Right" class="w3-container city w3-animate-right" style="display:none">
  <h2>SECTION C: ACCESS TO SERVICES</h2>

  <h2>C1 The accessible entrance provide direct access to the main floor and reception? </h2>
  <input type="radio" value="Yes" name="C.1"> Yes<br>
  <input type="radio" value="No" id="C.1" name="C.1"> No<br>
  <input type="radio" value="DK" name="C.1"> N/A<br>

  <h2>C2 Are all public spaces on at least one accessible route? </h2>
  <input type="radio" value="Yes" name="C.2"> Yes<br>
  <input type="radio" value="No" id="C.2" name="C.2"> No<br>
  <input type="radio" value="DK" name="C.2"> N/A<br>

  <h2>C3 Is the surface of the routes stable, flat and negotiable (no gravel, no sand, no obstacles)?</h2>
  <input type="radio" value="Yes" name="C.3"> Yes<br>
  <input type="radio" value="No" id="C.3" name="C.3"> No<br>
  <input type="radio" value="DK" name="C.3"> N/A<br>

  <h2>C4 Is the unobstructed width of the routes minimum 120cm, ideally 180cm?</h2>
  <input type="radio" value="Yes" name="C.4"> Yes<br>
  <input type="radio" value="No" id="C.4" name="C.4"> No<br>
  <input type="radio" value="DK" name="C.4"> N/A<br>

  <h2>C5 If  90 degrees wheelchair turns are required, a minimum maneuver space of 120cmx120cm, ideally 150cm x 150cm is provided?</h2>
  <input type="radio" value="Yes" name="C.5"> Yes<br>
  <input type="radio" value="No" id="C.5" name="C.5"> No<br>
  <input type="radio" value="DK" name="C.5"> N/A<br>

  <h2>C6 If If 180 degrees wheelchair turns are required, a minimum maneuver space of 200cm x 150cm is provided? </h2>
  <input type="radio" value="Yes" name="C.6"> Yes<br>
  <input type="radio" value="No" id="C.6" name="C.6"> No<br>
  <input type="radio" value="DK" name="C.6"> N/A<br>

<h1>C.7 Vertical circulation </h1>
<h1>C.7.1  Internal Stairs</h1>

<h2>C7.1.1  he rise of the step is higher than 150 mm, and the going of the steps are not less than 300 mm?
*Exceptionally on adaptations of existing buildings the minimum going of the tread shall be 260 mm, and the maximum rise shall be 180 mm.</h2>
<input type="radio" value="Yes" name="C.7.1.1"> Yes<br>
<input type="radio" value="No" id="C.7.1.1" name="C.7.1.1"> No<br>
<input type="radio" value="DK" name="C.7.1.1"> N/A<br>

<h2>C7.1.2  Is the minimum width of the stairs 120cm?
Is the minimum width between handrails 100cm?</h2>
<input type="radio" value="Yes" name="C.7.1.2"> Yes<br>
<input type="radio" value="No" id="C.7.1.2" name="C.7.1.2"> No<br>
<input type="radio" value="DK" name="C.7.1.2"> N/A<br>

<h2>C7.1.3 Is the rise of the step closed?</h2>
<input type="radio" value="Yes" name="C.7.1.3"> Yes<br>
<input type="radio" value="No" id="C.7.1.3" name="C.7.1.3"> No<br>
<input type="radio" value="DK" name="C.7.1.3"> N/A<br>

<h2>C7.1.4 The flight of steps contain maximum 16 risers?
  *Exceptionally when the plan area is restricted, a flight of a stairs shall contain no more than 20 risers.</h2>
<input type="radio" value="Yes" name="C.7.1.4"> Yes<br>
<input type="radio" value="No" id="C.7.1.4" name="C.7.1.4"> No<br>
<input type="radio" value="DK" name="C.7.1.4"> N/A<br>

<h2>C7.1.5 Is the minimum width of the landing 150cm?</h2>
<input type="radio" value="Yes" name="C.7.1.5"> Yes<br>
<input type="radio" value="No" id="C.7.1.5" name="C.7.1.5"> No<br>
<input type="radio" value="DK" name="C.7.1.5"> N/A<br>

<h2>C7.1.6 Is the clear height under stairs minimum 210cm? </h2>
<input type="radio" value="Yes" name="C.7.1.6"> Yes<br>
<input type="radio" value="No" id="C.7.1.6" name="C.7.1.6"> No<br>
<input type="radio" value="DK" name="C.7.1.6"> N/A<br>

<h1>C.7.2 Handrails</h1>
<h2>C7.2.1 Are handrails located on both sides of the ramp and stairs?</h2>
<input type="radio" value="Yes" name="C.7.2.1"> Yes<br>
<input type="radio" value="No" id="C.7.2.1" name="C.7.2.1"> No<br>
<input type="radio" value="DK" name="C.7.2.1"> N/A<br>

<h2>C7.2.2 Is the handrails profile diameter max 4.5cm and minimum 3.5 cm?  </h2>
<input type="radio" value="Yes" name="C.7.2.2"> Yes<br>
<input type="radio" value="No" id="C.7.2.2" name="C.7.2.2"> No<br>
<input type="radio" value="DK" name="C.7.2.2"> N/A<br>

<h2>C7.2.3 Are the handrails located at least 4cm from the adjacent wall or other obstructions? </h2>
<input type="radio" value="Yes" name="C.7.2.3"> Yes<br>
<input type="radio" value="No" id="C.7.2.3" name="C.7.2.3"> No<br>
<input type="radio" value="DK" name="C.7.2.3"> N/A<br>

<h2>C7.2.4 Are the first set of handrails located between 85cm and 100cm? Are the second set of handrails located between 60 and 75cm?</h2>
<input type="radio" value="Yes" name="C.7.2.4"> Yes<br>
<input type="radio" value="No" id="C.7.2.4" name="C.7.2.4"> No<br>
<input type="radio" value="DK" name="C.7.2.4"> N/A<br>

<h2>C7.2.5 Are handrails horizontally extended for at least 30cm at the begging and end of the ramp/stairs?</h2>
<input type="radio" value="Yes" name="C.7.2.5"> Yes<br>
<input type="radio" value="No" id="C.7.2.5" name="C.7.2.5"> No<br>
<input type="radio" value="DK" name="C.7.2.5"> N/A<br>
 </div>




<!-- Fifth section -->
<div id="Bottom" class="w3-container city w3-animate-bottom" style="display:none">

  <h2>E.1 Is there a fire alarm system, do they have both flashing lights and audible signals? </h2>
  <input type="radio" name="E.1" value="yes"> Yes<br>
  <input type="radio" name="E.1" value="no" id="E.1"> No<br>
  <input type="radio" name="E.1" value="dk"> Don't Know

  <h2>E.2 Are emergency doors and evacuation routes signalized?</h2>
  <input type="radio" name="E.2" value="yes"> Yes<br>
  <input type="radio" name="E.2" value="no" id="E.2"> No<br>
  <input type="radio" name="E.2" value="dk"> Don't Know

  <h2>E.3 Is there an established evacuation plan in case of emergency?</h2>
  <input type="radio" name="E.3" value="yes"> Yes<br>
  <input type="radio" name="E.3" value="no" id="E.3"> No<br>
  <input type="radio" name="E.3" value="dk"> Don't Know

<form class="" action="/analysis" method="post">
  <input type="submit" name="Submit" value="Submit">
</form>

</div>

</div>

<script src="./js/logic.js"></script>
<script src="./js/domForForm.js"></script>
<!-- <script src="./js/domSectionA.js"></script> -->
<script src="./js/domSectionB.js"></script>
<script src="./js/domSectionC.js"></script>
<script src="./js/domSectionD.js"></script>
<script src="./js/domSectionE.js"></script>

<style media="screen">
.w3-red, .w3-hover-red:hover {
    color: #fff!important;
    background-color: #0069B6!important;
}
</style>
