<div class="slideshow-container">

<div class="mySlides fade">
  <img class = "slide_image" src="https://d3n8a8pro7vhmx.cloudfront.net/handicapinternational/pages/5056/attachments/original/1526914731/hero_c_Elise-Cartuyvels_HI__Reema_with_HI_physical_therapist_Sudan_Rimal_in_Nepal.png?1526914731">
  <div class="text">Help PWDs to improve their<br> accessibility and home <br> adaptation!
  </div>
  <div class="center_btn">
    <input type="button" name="form_button" value="Satrt Now" class="form_button">
  </div>
</div>

<div class="mySlides fade">
  <div class="numbertext">2 / 2</div>
  <img class = "slide_image" src="https://d3bzyjrsc4233l.cloudfront.net/cache/a6/ee/a6ee2feaee80474e844ea5cb12fb13c9.jpg">
  <div class="text2">We work alongside PWD <br>and vulnerable populations,<br> taking action in order to respond to <br>their essential needs.</div>
</div>

<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
</div>
<!-- <div style="display:none">
  <form>
    <input type="radio" name="q1" value="yes"> yes<br>
    <input type="radio" name="q1" value="no"> no<br>
    <input type="radio" name="q1" value="dont know"> dont know
    <input id="submit" type="submit" name="submit" value="Submit">
  </form>
  <button id="download" type="button" name="button">export</button>
  <div id="content">
    <p>one result</p>
  </div>
</div> -->
