<div class="slideshow-container">

    <div class="mySlides fade">
      <div class="numbertext">1 / 2</div>
      <img src="https://d3n8a8pro7vhmx.cloudfront.net/handicapinternational/pages/5056/attachments/original/1526914731/hero_c_Elise-Cartuyvels_HI__Reema_with_HI_physical_therapist_Sudan_Rimal_in_Nepal.png?1526914731" class="slider_images">
      <div class="text">Help PWDs to improve their<br> accessibility and home <br> adaptation!
      </div>
      <input type="button" name="form_button" value="Satrt Now" class="form_button">
    </div>

    <div class="mySlides fade">
      <div class="numbertext">2 / 2</div>
      <img src="https://d3n8a8pro7vhmx.cloudfront.net/handicapinternational/pages/5039/attachments/original/1524213781/hero_c_Benoit-Almeras_HI__Risk_education_in_Chad.png?1524213781" class="slider_images">
      <div class="text">We work alongside people with PWD and vulnerable populations, taking action in order to respond to their essential needs.</div>
    </div>


    <div style="text-align:center">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
    </div>


  </div>

  <br>
