<form>
  <input type="radio" name="q1" value="yes"> yes<br>
  <input type="radio" name="q1" value="no"> no<br>
  <input type="radio" name="q1" value="dont know"> dont know
  <input id="submit" type="submit" name="submit" value="Submit">
</form>
<button id="download" type="button" name="button">export</button>
<div id="content" style="display:none">
  <p>one result</p>
</div>
