<section class="footer_style">
  <div class="background">
    <div class="social_icons">
      <a class="face_icon_style" href="https://www.facebook.com/HIUS"><i class="icon_style fab fa-facebook"></i></a>
      <a class="twitter_icon_style" href="https://twitter.com/HI_UnitedStates"><i class="icon_style fab fa-twitter"></i></a>
      <a class="youtube_icon_style" href="https://www.youtube.com/channel/UCHJic028JVJu8SqL5Dm1yHQ"><i class="icon_style fab fa-youtube"></i></a>
      <a class="insta_icon_style" href="https://www.instagram.com/humanity_inclusion_us/"><i class="icon_style fab fa-instagram"></i></a>
    </div>
    <div class="footer_text_style">&copy; 2018 All Rights Reserved</div>
  </div>
</section>
