<div class="topnav" id="myTopnav">
<div class="logo">
<a href="#home" class="active">
<img src="http://d3n8a8pro7vhmx.cloudfront.net/themes/5a1dad12c4b9f537da000000/attachments/original/1514958036/logo-bug.png?1514958036" alt="Logo" class="img1">
<img src="http://d3n8a8pro7vhmx.cloudfront.net/themes/5a1dad12c4b9f537da000000/attachments/original/1514958036/logo-text.png?1514958036" alt="Title" class="img2">
</a>
</div>
<div class="clearfix"></div>

<div class="item">
<a href="#logoo"></a>

<a href="#news">News</a>
<a href="#contact">Contact</a>
<a href="#about">About</a>
<a href="javascript:void(0);" style="font-size:20px;" class="icon" onclick="myFunction()">&#9776;</a>
</div>

</div>
