<link rel="stylesheet" href="./css/style.css">

<ul class="ul_navBar">
   <div class="logo_and_title">
     <img src="http://d3n8a8pro7vhmx.cloudfront.net/themes/5a1dad12c4b9f537da000000/attachments/original/1514958036/logo-bug.png?1514958036" alt="Logo" class="img1">
     <img src="http://d3n8a8pro7vhmx.cloudfront.net/themes/5a1dad12c4b9f537da000000/attachments/original/1514958036/logo-text.png?1514958036" alt="Title" class="img2">
   </div>
   <div class="lis">
     <li class="li_navbar"><a href="#home" class="a_navbar">Contact</a></li>
     <li class="li_navbar"><a href="#news" class="a_navbar">Services</a></li>
     <li class="li_navbar"><a href="#contact" class="a_navbar">About</a></li>
     <li class="li_navbar"><a href="#about" class="a_navbar">Home</a></li>
   </div>
 </ul>
